<header class="bg-white shadow-md sticky top-0 z-50 max-w-[100vw]">
  <!-- Top bar -->
  <div class="bg-[#002147] text-white py-2 text-xs">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <div class="flex items-center space-x-4">
        <p><i class="fa-solid fa-phone mr-1"></i> +8801789774070&nbsp;&nbsp;&nbsp;&nbsp;+60178658225</p>
        <p class="hidden md:block">
          <i class="fa-solid fa-envelope mr-1"></i>
          info.boishakhitradeint@gmail.com
        </p>
      </div>
      <div class="flex items-center space-x-4">
        <a href="#" class="hover:text-gray-300"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="hover:text-gray-300"><i class="fab fa-youtube"></i></a>
        <a href="#" class="hover:text-gray-300"><i class="fab fa-instagram"></i></a>
        <a href="#" class="hover:text-gray-300"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>

  <!-- Main navigation -->
  <nav class="container mx-auto px-4 py-3">
    <div class="flex justify-between items-center lg:mx-24">
      <div>
        <a href="index.html" class=""><img src="./images/logo.png" alt="" class="h-14" loading="lazy" /></a>
      </div>
      <div class="hidden lg:flex space-x-6 items-center font-medium">
        <a href="/" class="text-gray-700 hover:text-blue-700">Home</a>
        <a href="./universities.html" class="text-gray-700 hover:text-blue-700">Universities</a>
        <a href="services.html" class="text-gray-700 hover:text-blue-700">Services</a>
        <a href="#" class="text-gray-700 hover:text-blue-700">Reviews</a>
        <a href="#" class="text-gray-700 hover:text-blue-700">Success Stories</a>
        <a href="aboutus.html" class="text-gray-700 hover:text-blue-700">About Us</a>
        <a href="contactUs.html" class="text-gray-700 hover:text-blue-700">Contact Us</a>
      </div>
      <div>
        <a href="contactUs.html" class="bg-[linear-gradient(90deg,_#002147_0%,_#003A7D_30%)] hover:bg-[linear-gradient(90deg,_#002147_0%,_#003A7D_100%)] text-white px-5 py-2.5 rounded-lg font-semibold hover:bg-blue-800">Track Application</a>
      </div>
      <div class="lg:hidden">
        <button id="menu-btn" class="text-gray-700 focus:outline-none">
          <i class="fas fa-bars fa-lg"></i>
        </button>
      </div>
    </div>
  </nav>
  <!-- Mobile Menu -->
  <div id="mobile-menu" class="hidden lg:hidden">
    <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100">Home</a>
    <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100">Universities</a>
    <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100">Services</a>
    <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100">Reviews</a>
    <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100">Success Stories</a>
    <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100">About Us</a>
    <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100">Contact Us</a>
  </div>
</header>
